
.pr{ margin-left: 8; margin-right: 8 }
.Normal{ margin-left: 4; margin-right: 4; color: #FFFFFF; }
.features{ font-size: 10pt; margin-left: 4; margin-right: 4; color: #FFFFFF; }
.gris{ margin-left: 5; margin-right: 5; color: #999999; }
.negro { margin-left: 10; margin-right: 10; color: #000000 }

